/* App */
.App {
  text-align: center;
}

/* Header */
.header-container {
  display: flex;
  justify-content: space-between;
  width: 100%;
  height: 50px;
  background: #370E50;
}
.logos {
  display: flex;
  flex-direction: row;
  justify-content: left;
  list-style: none;
  padding-left: 20px;
}
.logo-name {
  color: white;
  text-decoration: none;
  letter-spacing: 0.1px;
}
.header-right {
  padding-right: 10px;
}
.portfolio-links {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}
.portfolio-links > li {
  list-style: none;
}
.portfolio-links > li > a {
  color: white;
  text-decoration: none;
  padding: 0 10px;
}

/* Home */
#logo {
  margin: 50px 0 30px 0;
  width: 200px;
  height: 200px;
}

/* Search */
.instructions {
  color: #BD7BE0;
}
#address {
  margin-top: 40px;
  width: 400px;
  height: 40px;
  padding: 0 10px;
  font-size: 12px;
  box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16), 0 3px 6px rgba(0, 0, 0, 0.23);
  box-sizing: border-box;
  border: 0.5px solid #ddd;
  border-radius: 2px;
  outline: none;
}
.address-search {
  position: relative;
  width: 0;
  height: 0;
  top: 5px;
  left: -38px;
  color: #555;
  background-color: transparent;
  border: none;
  outline: none;
  cursor: pointer;
}
.address-search > .material-icons {
  font-size: 18px;
}

/* Result */
.result-container {
  display: flex;
  flex-direction: row;
  height: 100vh;
  width: 100%;
}
.result-list {
  flex: 2;
}
.map-container {
  flex: 3;
  width: 100%;
  height: 100%;
}
.map-container > #google-map {
  width: 100%;
  height: 100%;
}
#iw-container {
  display: flex;
  flex-direction: row;
  padding: none;
}
#iw-content-container {
  display: flex;
  flex-direction: column;
  text-align: center;
  padding-left: 20px;
  list-style: none;
}
#iw-title {
  font-weight: bold;
  padding-bottom: 5px;
}
#iw-rating {
  font-size: 12px;
}
#iw-star {
  position: relative;
  top: 1.5px;
  left: -0.2px;
  font-size: 12px;
}
.gm-style-iw {
  left: 0 !important;
}