/* App */
.App {
  text-align: center;
}

/* Header */
.header-container {
  display: flex;
  justify-content: space-between;
  width: 100%;
  height: 50px;
  background: #370E50;
}
.logos {
  display: flex;
  flex-direction: row;
  justify-content: left;
  list-style: none;
  padding-left: 20px;
}
.logo-name {
  color: white;
  text-decoration: none;
  letter-spacing: 0.1px;
}
.header-right {
  padding-right: 10px;
}
.portfolio-links {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}
.portfolio-links > li {
  list-style: none;
}
.portfolio-links > li > a {
  color: white;
  text-decoration: none;
  padding: 0 10px;
}

/* Home */
#logo {
  margin: 50px 0 30px 0;
  width: 200px;
  height: 200px;
}

/* Search */
.instructions {
  color: #BD7BE0;
}
#address {
  margin-top: 40px;
  width: 400px;
  height: 40px;
  padding: 0 10px;
  font-size: 12px;
  box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16), 0 3px 6px rgba(0, 0, 0, 0.23);
  box-sizing: border-box;
  border: 0.5px solid #ddd;
  border-radius: 2px;
  outline: none;
}
.address-search {
  position: relative;
  width: 0;
  height: 0;
  top: 5px;
  left: -38px;
  color: #555;
  background-color: transparent;
  border: none;
  outline: none;
  cursor: pointer;
}
.address-search > .material-icons {
  font-size: 18px;
}

/* Result */
.result-container {
  display: flex;
  flex-direction: row;
  height: calc(100vh - 50px);
  width: 100%;
}
#result-list-container {
  flex: 2;
  overflow-y: scroll;
}
.map-container {
  flex: 3;
  width: 100%;
  height: 100%;
}
.map-container > #google-map {
  width: 100%;
  height: 100%;
}
#iw-container {
  display: flex;
  flex-direction: row;
  padding: none;
}
#iw-content-container {
  display: flex;
  flex-direction: column;
  text-align: center;
  padding-left: 20px;
  list-style: none;
}
#iw-title {
  font-weight: bold;
  padding-bottom: 5px;
}
#iw-rating {
  font-size: 12px;
}
#iw-star {
  position: relative;
  top: 1.5px;
  left: -0.2px;
  font-size: 12px;
}
.gm-style-iw {
  left: 0 !important;
}
.result-list-item-container {
  margin: 0 20px;
  padding: 40px 0 20px 0;
  align-items: center;
  display: flex;
  flex-direction: column;
  border-bottom: 1px solid #555;
}
.result-list-item-container:hover {
  background-color: rgba(0, 0, 0, 0.1);
  cursor: pointer;
}
.result-item-img {
  width: 80%;
  border-radius: 4px;
  margin-bottom: 20px;
}
.restaurant-info-container {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.restaurant-name {
  font-size: 18px;
  padding-bottom: 7px;
}
.star-ratings-css {
  unicode-bidi: bidi-override;
  color: #c5c5c5;
  font-size: 20px;
  height: 20px;
  width: 85.2px;
  margin: 0 auto;
  position: relative;
  padding: 0;
}
.star-ratings-css-top {
  color: #370E50;
  padding: 0;
  position: absolute;
  z-index: 1;
  display: block;
  top: 0;
  left: 0;
  overflow: hidden;
}
.star-ratings-css-bottom {
  padding: 0;
  display: block;
  z-index: 0;
}
.restaurant-address{
  font-size: 14px;
  padding-top: 12px;
}
.restaurant-more-info {
  display: flex;
  flex-direction: row;
  padding-top: 7px;
  font-size: 14px;
  padding-bottom: 20px;
}
.restaurant-price {
  padding-left: 10px;
}
.restaurant-divider{
  padding-left: 10px;
}
.restaurant-status {
  padding-left: 10px;
}
.green {
  color: green;
}
.red {
  color: red;
}
#result-list-direction-container {
  margin: 20px;
}
.adp-placemark {
  margin: 0 !important;
}
.adp-summary {
  padding-top: 10px !important;
  padding-bottom: 10px !important;
}
.adp-substep {
  padding: 0.8em 10px 0.8em 10px !important;
}
.adp-legal {
  display: none;
}

/* Loading */
.loader {
  border: 4px solid #f3f3f3;
  border-top: 4px solid #BD7BE0;
  border-radius: 50%;
  width: 50px;
  height: 50px;
  animation: spin 1s linear infinite;
  position: absolute;
  top: 50%;
  left: 50%;
}
@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}